DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
OFFICER_ROLE_IDS=123,456
SPREADSHEET_ID=1luCRQbTt2DaV2igB1FhBuxnITQQJNUkD8W0AHvSM9LA
SPREADSHEET_SHEET_NAME=Sheet1
COLUMN_NAME=A
COLUMN_STATUS=B
COLUMN_DKP=F
DB_PATH=data/auctioneer.db
